= form_for(@user) do |foobar|
  = render 'shared/error_messages'
  = foobar.label :name
  = foobar.text_field :name, class: 'form-control'
  = foobar.label :email
  = foobar.email_field :email, class: 'form-control'
  = foobar.label :password
  = foobar.password_field :password, class: 'form-control'
  = foobar.label :password_confirmation, "Confirmation"
  = foobar.password_field :password_confirmation, class: 'form-control'
  = foobar.submit yield(:button_text), class: "btn btn-primary"
