<!DOCTYPE html>
<html>
  <head>
	  <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<h3>
			<a href = "../static_pages/home">Home</a> | 
			<a href = "../static_pages/about">About</a> | 
			<a href = "../static_pages/blog">Blog</a> | 
			<a href = "../static_pages/help">Help</a>
		</h3>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
